@* @model CMAPTask.Domain.Entities.OB.CustomerDetails *@
@model List<OpenBanking.web.ViewModel.RecentUserViewModel>
@{
    Layout = "_LayoutNew";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Requests</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">FullName</th>
                        <th scope="col">CreatedAt</th>
                        <th scope="col">PhoneNumber</th>
                        <th scope="col">Email</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>@user.CreatedAt.ToString("dd MMM yyyy")</td>                           
                            <td>@($"{user.FirstName} {user.LastName}")</td>                          
                            <td>@user.PhoneNumber</td>
                            <td>@user.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@* <form asp-action="SubmitDetails" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Enter Customer's Details</h6>

                <div class="form-floating mb-3">
                    <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                    <label asp-for="FirstName">First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                    <label asp-for="LastName">Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com" />
                    <label asp-for="Email">Email address</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                    <label asp-for="PhoneNumber">Phone Number</label>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Send Request</button>
            </div>
        </div>
    </div>
</form> *@
