@using OpenBanking.web.ViewModel
@model ResetPasswordViewModel
@{
    Layout = "_LayoutClean";
}
<div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <div class="">
                    <img src="~/img/openvista-logo.svg" width="150px" />
                </div>
                <h6>Reset Password</h6>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form method="post">
                <input type="hidden" asp-for="Token" />
                <div class="form-floating mb-3">
                    <input type="password" asp-for="NewPassword" class="form-control" id="floatingNewPassword" placeholder="New Password">
                    <label for="floatingNewPassword">New Password</label>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password">
                    <label for="floatingConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Reset Password</button>
                <div class="text-center">
                    <a asp-action="Login" asp-controller="Account">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}