@{
    Layout = "_LayoutClean";
    ViewData["Title"] = "Invalid Link";
}

<div class="container-xxl bg-white p-3 pt-4">
    <div class="alert alert-danger text-center" role="alert">
        <h4 class="alert-heading">Invalid or Expired Link</h4>
        <p>The link from the email is not valid or has expired. Please check with the sender or contact support for assistance.</p>     
       
    </div>
</div>

