<form id="timesheetForm">
    <div class="form-group">
        <label for="UserName">User Name</label>
        <input type="text" class="form-control" id="UserName" name="UserName" required>
    </div>
    <div class="form-group">
        <label for="Project">Project</label>
        <input type="text" class="form-control" id="Project" name="Project" required>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" name="Description" required></textarea>
    </div>
    <div class="form-group">
        <label for="HoursWorked">Hours Worked</label>
        <input type="number" class="form-control" id="HoursWorked" name="HoursWorked" required>
    </div>
</form>